@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: 255 255 255;
  --card-foreground: 15 23 42;
}
.dark {
  --card: 9 9 11;
  --card-foreground: 241 245 249;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.card {
  @apply rounded-2xl p-4 shadow-sm bg-white text-slate-900 dark:bg-zinc-900 dark:text-slate-50 border border-zinc-100 dark:border-zinc-800;
}
.btn {
  @apply inline-flex items-center justify-center rounded-xl px-4 py-2 font-medium bg-zinc-900 text-white hover:bg-zinc-800 active:scale-[.99] dark:bg-white dark:text-zinc-900 dark:hover:bg-zinc-100;
}
.input {
  @apply w-full rounded-xl border border-zinc-200 dark:border-zinc-800 bg-white dark:bg-zinc-900 px-3 py-2 outline-none focus:ring-2 focus:ring-zinc-300 dark:focus:ring-zinc-700;
}
.link {
  @apply text-zinc-900 dark:text-white underline underline-offset-4;
}
.badge {
  @apply inline-flex items-center gap-2 rounded-full text-xs px-3 py-1 border border-zinc-200 dark:border-zinc-700;
}
.btn-new-count {
  @apply bg-zinc-900 text-white hover:bg-zinc-800 dark:bg-white dark:text-zinc-900 dark:hover:bg-zinc-100;
}
